*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#m_header {
    text-align: center;
    margin: 29px 0 29px 0;
    padding: 14px 0;
    .logo {
        width: 50px;
    }
}
#m_s {
    background: #1f90ff;
    text-align: center;
    padding: 27px 0;
}

#s_main {
    .rigth {
        float: right;
        width: 282px;
        padding-top: 40px;
        display: block;
        margin: 0 87px 0 0;

        .r_wrapper {
            border: 1px solid #dcddde;
            margin-bottom: 30px;
            padding: 20px 22px 10px 22px;

            h1 {
                margin: 0 0 10px 0;
                color: #1570a6;
                font-weight: 600;
                border-bottom: 1px solid #efefef;
                padding: 0 0 15px 0;
                font-size: 16px;
                text-align: center;
            }

            .step {
                margin: 0 0 3px 0;
                font-weight: 600;
                font-size: 11px;
                text-align: center;
            }
            .r_p {
                line-height: 1.4;
                font-size: 13px;
                color: #73767a;
                margin-bottom: 15px;
                text-align: center;
            }
        }
    }
    .left {
        float: left;
        width: 620px;
        margin: 36px 0 0 113px;

        .ida {
            color: #272a36;
            font-size: 26px;
            font-weight: bold;
        }

        .s_select {
            width: 93%;
            height: auto;
            padding: 31px 0 41px 33px;
            background-color: #eeeeee;
            border-radius: 5px;
        }
    }
}
footer {
    margin-top: 789px;
}